<a href="https://colab.research.google.com/github/Azamat2023/BlogProject/blob/master/10_MA%CA%BCLUMOTLARGA_ISHLOV_BERISH_10_11_HTML_JSON_API_o%CA%BBqish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/h4PPC71.png)
#**10-modul. Maʼlumotlarga ishlov berish. Fayllar va maʼlumotlar ombori**
#10.11. Veb sahifalardan oʻqish. JSON va API
**Bu vazifalarni bajargach, veb sahifalardan maʼlumot olish, JSON bilan ishlash va API soʻrovlarini yuborish koʻnikmalarini egallaysiz.**

#1-topshiriq
1. Pandas kutubxonasidan foydalanib, quyida berilgan link ichidan barcha jadvallarni o‘qing va roʻyxat shaklida saqlang.
 * https://en.wikipedia.org/wiki/Fossil_fuel_exporters
2. Har bir jadvalning birinchi 1 qatorini ekranga chiqaring.

In [12]:
#javobni shu yerda yozing.
import pandas as pd
url = "https://en.wikipedia.org/wiki/Fossil_fuel_exporters"
tables = pd.read_html(url)
print(f"Topilgan jadvallar soni: {len(tables)}\n")

for i, table in enumerate(tables):
    print(f"--- Jadval {i+1} ---")
    print(table.head(1))  # faqat birinchi qator
    print()

Topilgan jadvallar soni: 7

--- Jadval 1 ---
    0                                                  1
0 NaN  This article needs to be updated. Please help ...

--- Jadval 2 ---
   Rank Country/region                       Oil - exports Date of information
0     1   Saudi Arabia  6,658,642 bbl/d (1,058,639.5 m3/d)           2020 est.

--- Jadval 3 ---
   Rank Country/region  Natural gas - exports (cu m) Date of information
0     1         Russia                  199928345000           2020 est.

--- Jadval 4 ---
   Rank    Country  Coal - exports (thousand short tons)  Date of information
0     1  Indonesia                                451520                 2020

--- Jadval 5 ---
  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}html.skin-theme-clientpref-night .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}@media(prefers-color-scheme:dark){html.skin-theme-clientpref-os .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}}@media print{.mw-parser-output .navbar{display:none!important}}vteLists of countries by energy rankings  \
0                                        Fossil Fuel

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}html.skin-theme-clientpref-night .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}@media(prefers-color-scheme:dark){html.skin-theme-clientpref-os .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}}@media print{.mw-parser-output .navbar{display:none!important}}vteLists of countries by energy rankings.1
0  Petroleum All Production Consumption Exports I...

--- Jadval 6 ---
           0                                                  1
0  Petroleum  All Production Consumption Exports Imports Res...

--- Jadval 7 ---
         0                                   1
0  Uranium  All Production Generation Reserves

#2-topshiriq
Yuqorida yaratilgan jadvallar roʻyxatidan eng uzunini `largest_data.csv` fayliga saqlang.

In [18]:
#javobni shu yerda yozing.
largest_table = max(tables, key=lambda df: len(df))
largest_table.to_csv("largest_data.csv", index=False)

#3-topshiriq
1. Quyidagi link orqali json maʼlumotni yuklab oling va uni climate_change_co2.json nomi bilan saqlang.
 * https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/json_data.json
2. Maʼlumotlar boshidan 5 ta qatorni ekranga chiqaring!

In [24]:
#javobni shu yerda yozing.
import requests
url = "https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/json_data.json"
r = requests.get(url)
pd.DataFrame(r.json()).to_json("climate_change_co2.json")
pd.read_json("climate_change_co2.json").head(5)

,Year,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita
0,2010,9167,1702,3114,3842,450,59,1.33
1,2009,8740,1585,3056,3620,413,66,1.28
2,2008,8783,1631,3122,3571,388,71,1.30
3,2007,8566,1572,3081,3464,382,68,1.28
4,2006,8370,1525,3089,3339,356,61,1.27

#4-topshiriq
1. Quyida berilgan linkga `get` soʻrovini yuborish orqali `json` maʼlumotlarini `posts.json` fayliga saqlang.
  * https://jsonplaceholder.typicode.com/posts/
2. Ushbu maʼlumotlarni dataframe koʻrinishida saqlang va tasodifiy 5 ta qatorni ekranga chiqaring.

In [32]:
url = "https://jsonplaceholder.typicode.com/posts/"
r = requests.get(url)
pd.DataFrame(r.json()).to_json("posts.json")
pd.read_json("posts.json").head(5)
#javobni shu yerga yozing.

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...