<a href="https://colab.research.google.com/github/Azamat2023/Data-science-and-AI/blob/master/11_MA%CA%BCLUMOTLARNI_TAYYORLASH_11_28_YAKUNIY_AMALIY_VAZIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/h4PPC71.png)
#11-modul. Maʼlumotlarga ishlov berish. Maʼlumotlarni tayyorlash
# 11.28. Modul boʻyicha yakuniy amaliy vazifa

**Bu vazifalarni bajargach, maʼlumotlarni yuklash, tozalash, oʻzgartirish, matnlarni normalizatsiya qilish, qiymatlarni tekshirish, guruhlash va tahlil qilish kabi maʼlumotlarga ishlov berish (data processing) koʻnikmalarini egallaysiz.**

#**Umumiy maʼlumotlar bilan ishlash**

#Dataset haqida qisqacha maʼlumot
Restoran savdosi boʻyicha maʼlumotlar toʻplami 17 534 tranzaksiya uchun maʼlumotlarni oʻz ichiga oladi. Maʼlumotlar yetishmayotgan yoki baʼzilari toʻliq kiritilmagan boʻlishi mumkin. Maʼlumotlar toʻplamida asosiy taomlar, shirinliklar, ichimliklar kabi bir nechta toifadagi savdo tafsilotlari mavjud.


 0.   **Unnamed 0** – indekslarni;
 1.   **Order ID** – buyurtma IDʼsini;
 2.   **Customer ID** – mijoz IDʼsini;
 3.   **Category** – mahsulotlar kategoriyasini;
 4.   **Item** – mahsulot nomini;
 5.   **Price** – mahsulotning narxini;
 6.   **Quantity** – qancha mahsulot sotilgani miqdorini;
 7.   **Order Total** – umumiy narx qancha ekanini;
 8.   **Order Date** – buyurtma berilgan sanani (vaqt);
 9.   **Payment Method** – toʻlov usuli turini saqlaydi.

#1) Quyida berilgan datasetni yuklab olib, ustun nomlarini koʻring va ularni maʼno jihatdan tushunarli shaklga keltiring. `Unnamed: 0` ustunini tashlab yuboring!

In [199]:
import pandas as pd
import numpy as np

url = "restaurant_sales.csv"
df = pd.read_csv(url)
df.head()

,Unnamed: 0,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
0,0,ORD_705844,CUST_092,NaN,side salad#?,3.0,1.0,3.0,2023-12-21,Credit Card
1,1,ORD_338528,CUST_021,Side Dishes,Mashed Potatoes,4.0,3.0,12.0,2023-05-19,Digital Wallet
2,2,ORD_443849,CUST_029,Main Dishes,Grilled Chicken,15.0,4.0,60.0,2023-09-27,Credit Card
3,3,ORD_630508,CUST_075,Drinks,NaN,-1.0,2.0,5.0,2022-08-09,Credit Card
4,4,ORD_648269,CUST_031,Main Dishes,Pasta Alfredo,12.0,4.0,48.0,2022-05-15,Cash

In [200]:
#javobni shu yerda yozing
df.drop("Unnamed: 0", axis=1, inplace=True)

#2) Maʼlumotlarning umumiy holatini (info(), describe()) tekshiring.

In [201]:
#javobni shu yerda yozing
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17534 entries, 0 to 17533
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        17534 non-null  object
 1   Customer ID     17534 non-null  object
 2   Category        17498 non-null  object
 3   Item            15776 non-null  object
 4   Price           17534 non-null  float64
 5   Quantity        17104 non-null  float64
 6   Order Total     17104 non-null  float64
 7   Order Date      17534 non-null  object
 8   Payment Method  16452 non-null  object
dtypes: float64(3), object(6)
memory usage: 1.2+ MB

In [202]:
df.describe()

              Price      Quantity   Order Total
count  17534.000000  17104.000000  17104.000000
mean       6.207312      3.014149     19.914494
std        4.993782      1.414598     18.732549
min       -1.000000      1.000000      1.000000
25%        3.000000      2.000000      7.500000
50%        5.000000      3.000000     15.000000
75%        7.000000      4.000000     25.000000
max       20.000000      5.000000    100.000000

#3) Har bir ustundagi boʻsh qiymatlarni aniqlang va ularni toʻldirish strategiyasini ishlab chiqing.

In [203]:
#javobni shu yerda yozing
df.isna().sum()

Order ID             0
Customer ID          0
Category            36
Item              1758
Price                0
Quantity           430
Order Total        430
Order Date           0
Payment Method    1082
dtype: int64

In [204]:
df.head(30)

,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
0,ORD_705844,CUST_092,NaN,side salad#?,3.0,1.0,3.0,2023-12-21,Credit Card
1,ORD_338528,CUST_021,Side Dishes,Mashed Potatoes,4.0,3.0,12.0,2023-05-19,Digital Wallet
2,ORD_443849,CUST_029,Main Dishes,Grilled Chicken,15.0,4.0,60.0,2023-09-27,Credit Card
3,ORD_630508,CUST_075,Drinks,NaN,-1.0,2.0,5.0,2022-08-09,Credit Card
4,ORD_648269,CUST_031,Main Dishes,Pasta Alfredo,12.0,4.0,48.0,2022-05-15,Cash
5,ORD_381680,CUST_031,Main Dishes,Salmon,18.0,5.0,90.0,2022-07-20,Digital Wallet
6,ORD_270994,CUST_071,Side Dishes,Garlic Bread,4.0,5.0,20.0,2022-08-19,Credit Card
7,ORD_146656,CUST_077,Main Dishes,NaN,15.0,3.0,45.0,2023-02-15,Cash
8,ORD_428611,CUST_083,Desserts,NaN,6.0,2.0,12.0,2023-12-16,Cash
9,ORD_743636,CUST_085,Main Dishes,Vegetarian Platter,14.0,5.0,70.0,2022-08-07,NaN
10,ORD_117003,CUST_021,Desserts,Brownie,6.0,2.0,12.0,2023-12-09,Credit Card
11,ORD_726419,CUST_025,Main Dishes,Salmon,18.0,5.0,90.0,2023-10-30,Cash
12,ORD_754176,CUST_047,Main Dishes,Salmon,18.0,1.0,18.0,2023-04-11,Cash
13,ORD_330351,CUST_057,Starters,Sweet Potato Fries,5.0,4.0,20.0,2023-08-18,Credit Card
14,ORD_458560,CUST_017,Side Dishes,Mashed Potatoes,4.0,3.0,12.0,2022-06-08,Cash
15,ORD_639569,CUST_024,Drinks,Lemonade,3.0,2.0,6.0,2022-08-28,Cash
16,ORD_736695,CUST_067,Main Dishes,Grilled Chicken,15.0,3.0,45.0,2022-05-01,Digital Wallet
17,ORD_283207,CUST_090,Side Dishes,Side Salad,3.0,2.0,6.0,2023-09-01,Digital Wallet
18,ORD_337802,CUST_034,Desserts,NaN,4.0,5.0,20.0,2022-11-13,Credit Card
19,ORD_744179,CUST_009,Desserts,Brownie,6.0,3.0,18.0,2023-06-08,Credit Card
20,ORD_845047,CUST_052,Main Dishes,Vegetarian Platter,14.0,4.0,56.0,2023-02-21,Digital Wallet
21,ORD_862247,CUST_071,Side Dishes,Side Salad,3.0,4.0,12.0,2023-02-01,Credit Card
22,ORD_356735,CUST_055,Main Dishes,Salmon,18.0,4.0,72.0,2023-05-09,Credit Card
23,ORD_333540,CUST_055,Drinks,Orange Juice,3.0,4.0,12.0,2023-09-14,Digital Wallet
24,ORD_415215,CUST_094,Desserts,Chocolate Cake,6.0,5.0,30.0,2023-03-18,Cash
25,ORD_375110,CUST_041,Drinks,COCA COLA,2.5,1.0,2.5,2023-05-18,Digital Wallet
26,ORD_117414,CUST_055,Side Dishes,Grilled Vegetables,5.0,4.0,20.0,2023-09-05,Credit Card
27,ORD_918434,CUST_096,Main Dishes,Vegetarian Platter,14.0,3.0,42.0,2022-02-02,Digital Wallet
28,ORD_220701,CUST_040,Drinks,Coca Cola,2.5,4.0,10.0,2023-07-30,Digital Wallet
29,ORD_647762,CUST_021,Main Dishes,Pasta Alfredo,12.0,1.0,12.0,2023-01-31,Credit Card

In [205]:
df['Category']=df[['Category']].fillna(method='bfill')

In [206]:
df.dropna(subset=['Item'], inplace=True)

In [207]:
df.fillna({'Quantity':np.mean(df['Quantity']), 'Order Total':np.mean(df['Order Total'])}, inplace=True)
df['Order Total'].isna().sum()

0

In [208]:
df['Payment Method'] = df['Payment Method'].fillna(method='bfill')

#4) Har bir ustundagi takroriy qiymatlarni toping va ularga qanday oʻzgartirish kiritish kerakligini hal qiling.

In [209]:
#javobni shu yerda yozing
df.duplicated().sum()

0

#5) Maʼlumotlar toʻplamidagi noto‘g‘ri maʼlumotlar (masalan, son turishi kerak bo‘lgan ustunda matn bo‘lsa) mavjudligini tekshiring va to‘g‘rilang.

In [210]:
#javobni shu yerda yozing
df['Item'] = df['Item'].str.replace(r'[?#]', '', regex=True)

#6) Maʼlumotlar toʻplamidagi **katta/kichik harf** muammolari boʻlgan joylarni toping va bir xil formatga keltiring.

In [211]:
#javobni shu yerda yozing
df['Item'] = df['Item'].str.title()

#7) Maʼlumotlar turini oʻzgartirish.
 * Ustunlarning maʼlumot turlarini tekshiring. Notoʻgʻri turlarga ega boʻlgan ustunlarni toʻgʻri formatga oʻtkazing.
 * `order_date` yoki unga oʻxshash ustunni datetime formatiga oʻtkazing.

In [212]:
#javobni shu yerda yozing
pd.to_datetime(df['Order Date'], format="%Y/%m/%d")

0       2023-12-21
1       2023-05-19
2       2023-09-27
4       2022-05-15
5       2022-07-20
           ...
17527   2022-04-06
17528   2022-04-22
17530   2023-12-18
17531   2022-05-20
17532   2022-01-27
Name: Order Date, Length: 15776, dtype: datetime64[ns]

#8) Mahsulot nomlarida noto‘g‘ri yoki nomaʼlum belgilar (?, NaN, #) mavjudligini tekshiring va ularni tuzating.

In [213]:
#javobni shu yerda yozing
df[df['Item'].str.contains(r'[?#]', na=False)]

Empty DataFrame
Columns: [Order ID, Customer ID, Category, Item, Price, Quantity, Order Total, Order Date, Payment Method]
Index: []

#**Maʼlumotlarni filtrlash va qayta ishlash**

#9) Manfiy narx yoki 0 ga teng narx qiymatlarini toping va ularni qanday oʻzgartirish kerakligini hal qiling.

In [214]:
df[df['Price']<0].sum()

Order ID          0.0
Customer ID       0.0
Category          0.0
Item              0.0
Price             0.0
Quantity          0.0
Order Total       0.0
Order Date        0.0
Payment Method    0.0
dtype: float64

#10) Boʻsh toifalar (kategoriya) mavjudligini tekshiring va toʻgʻri kategoriya berish strategiyasini ishlab chiqing.

In [215]:
#javobni shu yerda yozing
df.isna().sum()

Order ID          0
Customer ID       0
Category          0
Item              0
Price             0
Quantity          0
Order Total       0
Order Date        0
Payment Method    0
dtype: int64

#11) Bir xil, lekin turlicha yozilgan qiymatlar (Coffee, cofee, COFEE) mavjudligini tekshiring va tuzating.

In [216]:
#javobni shu yerda yozing
l = ['Coffee', 'cofee', 'COFEE']
df.isin(l).sum()

Order ID          0
Customer ID       0
Category          0
Item              0
Price             0
Quantity          0
Order Total       0
Order Date        0
Payment Method    0
dtype: int64

#12) `Customer ID` yoki boshqa identifikatorlarning takrorlanishini tekshiring.

In [217]:
#javobni shu yerda yozing
df.duplicated().sum()
df.Item.unique()

array(['Side Salad', 'Mashed Potatoes', 'Grilled Chicken',
       'Pasta Alfredo', 'Salmon', 'Garlic Bread', 'Vegetarian Platter',
       'Brownie', 'Sweet Potato Fries', 'Lemonade', 'Orange Juice',
       'Chocolate Cake', 'Coca Cola', 'Grilled Vegetables',
       'Cheese Fries', 'Beef Chili', 'Chicken Melt', 'Fruit Salad',
       'French Fries', 'Ice Cream', 'Cheesecake', 'Iced Tea',
       'Water (0.5)', 'Nachos Grande', 'Water', 'Onion Rings', 'Steak',
       'Lemonade (1.0)'], dtype=object)

#13) Mahsulotning ortiqcha taʼriflarini olib tashlang (Water (0.5), Water (1.0), Water → faqat Water qoldirish).

In [220]:
#javobni shu yerda yozing
dict = {'Water (0.5)':'Water', 'Lemonade (1.0)':'Lemonade'}
df.replace(dict, inplace=True)

#**Qayta ishlangan maʼlumotlar bilan tahlil**

#14) Eng koʻp sotilgan 5 ta mahsulotni aniqlang.

In [241]:
#javobni shu yerda yozing
l = df['Order Total'].nlargest(5).index.to_list()
df.loc[l].Item

231    Steak
248    Steak
385    Steak
617    Steak
794    Steak
Name: Item, dtype: object

#15) Har bir mijoz oʻrtacha qancha pul sarflaganini hisoblang.

In [245]:
#javobni shu yerda yozing
df.groupby('Customer ID')['Order Total'].mean()

Customer ID
CUST_001    17.959119
CUST_002    19.648734
CUST_003    17.638889
CUST_004    19.838816
CUST_005    17.802083
              ...
CUST_096    18.790960
CUST_097    19.958580
CUST_098    19.851515
CUST_099    21.029801
CUST_100    18.438547
Name: Order Total, Length: 100, dtype: float64

#16) Mijozlarning qaysi kunlarda koʻproq xarid qilgani bo‘yicha tahlil qiling.

In [248]:
#javobni shu yerda yozing
df.groupby('Customer ID')['Order Date'].count()

Customer ID
CUST_001    159
CUST_002    158
CUST_003    144
CUST_004    152
CUST_005    144
           ...
CUST_096    177
CUST_097    169
CUST_098    165
CUST_099    151
CUST_100    179
Name: Order Date, Length: 100, dtype: int64

#17) Narxi oʻrtacha narxdan ikki barobar yuqori boʻlgan mahsulotlarni toping.

In [267]:
#javobni shu yerda yozing
mean = df['Price'].mean()
df[df['Price']>=2 * mean]

,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
2,ORD_443849,CUST_029,Main Dishes,Grilled Chicken,15.0,4.0,60.0,2023-09-27,Credit Card
5,ORD_381680,CUST_031,Main Dishes,Salmon,18.0,5.0,90.0,2022-07-20,Digital Wallet
9,ORD_743636,CUST_085,Main Dishes,Vegetarian Platter,14.0,5.0,70.0,2022-08-07,Credit Card
11,ORD_726419,CUST_025,Main Dishes,Salmon,18.0,5.0,90.0,2023-10-30,Cash
12,ORD_754176,CUST_047,Main Dishes,Salmon,18.0,1.0,18.0,2023-04-11,Cash
...,...,...,...,...,...,...,...,...,...
17434,ORD_196563,CUST_098,Main Dishes,Grilled Chicken,15.0,5.0,75.0,2023-05-20,Digital Wallet
17453,ORD_591820,CUST_082,Main Dishes,Salmon,18.0,3.0,54.0,2023-12-08,Credit Card
17480,ORD_771570,CUST_093,Main Dishes,Salmon,18.0,2.0,36.0,2023-03-24,Credit Card
17490,ORD_900549,CUST_047,Main Dishes,Salmon,18.0,2.0,36.0,2023-04-25,Digital Wallet
17495,ORD_872487,CUST_017,Main Dishes,Steak,20.0,5.0,100.0,2023-11-01,Credit Card

#18) Mahsulotlar kategoriyalari bo‘yicha tahlil qiling va eng ko‘p sotiladigan kategoriyalarni aniqlang.

In [269]:
#javobni shu yerda yozing
range2 = pd.qcut(df['Order Total'], 3)
range2.value_counts()

(0.999, 10.0]    5855
(10.0, 20.0]     5233
(20.0, 100.0]    4688
Name: Order Total, dtype: int64

#19) Har bir mijozning oʻrtacha xarid miqdorini (`groupby("customer_id")`) hisoblang.

In [270]:
#javobni shu yerda yozing
df.groupby('Customer ID')['Price'].mean()

Customer ID
CUST_001    5.889937
CUST_002    6.212025
CUST_003    6.236111
CUST_004    6.269737
CUST_005    5.875000
              ...
CUST_096    6.525424
CUST_097    6.476331
CUST_098    6.669697
CUST_099    6.956954
CUST_100    6.329609
Name: Price, Length: 100, dtype: float64

#20) Qanday omillar sotuv hajmiga ta’sir qiladi? Bu bo‘yicha umumiy xulosa chiqaring. Javobni quyida kommentariya sifatida yozing!

In [ ]:
#javobni shu yerda yozing
# yangi taom uchun narxlar
# maxsulotning yo'qligi bazi turdagi ovqatlar uchun
# to'lov usullarini cheklanganligi
# buyurtmani yetkazish vaqti